<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-fire"></span>
            Express API Security
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/validate">Form Validation</a></li>
            <li><a href="/api">API Validation</a></li>
        </ul>
    </div>

</div>
</nav>