<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Securing your API's</h1>
        <p>This a small project that plays around with API input validation using the <a href="https://express-validator.github.io/docs/" target="_blank">express-validator</a> library, <a href="https://www.npmjs.com/package/helmet" target="_blank">Helmet</a> to secure your express routes and the <a href="https://www.npmjs.com/package/ejs" target="_blank">EJS</a> templating engine for rendering.</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>